/* Correção temporária para forçar a visibilidade do tema escuro */
[data-bs-theme="dark"] .dropdown-menu {
    background-color: #343a40 !important; /* Cor de fundo escura */
    color: #f8f9fa !important;           /* Cor do texto clara */
}

/* Garante que os links estejam visíveis */
[data-bs-theme="dark"] .dropdown-menu a.dropdown-item {
    color: #f8f9fa !important;
}