<div class="container-fluid">
    <!-- Início da linha -->
    <div class="row">
        <!-- Coluna para detalhes da pessoa -->
        <div class="col-md-3">
            <!-- Exibição de Pessoa (se existirem dados) -->
            @if (pessoa != null && errorMessage == null) {
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ pessoa.nome || 'Nome não disponível' }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email: {{ pessoa.email || 'Email não disponível' }}</h6>
                    <p class="card-text">
                        <strong>Telefone:</strong> {{ pessoa.telefone || 'Telefone não disponível' }}<br>
                        <strong>Data de Nascimento:</strong> {{ pessoa.dataNascimento || 'Data não disponível' }}<br>
                        <strong>Endereço:</strong> {{ pessoa.endereco || 'Endereço não disponível' }}<br>
                        <strong>Complemento:</strong> {{ pessoa.complemento || 'Complemento não disponível' }}<br>
                        <strong>Bairro:</strong> {{ pessoa.bairro || 'Bairro não disponível' }}<br>
                        <strong>Cidade:</strong> {{ pessoa.cidade || 'Cidade não disponível' }}<br>
                        <strong>Estado:</strong> {{ pessoa.estado || 'Estado não disponível' }}<br>
                        <strong>CEP:</strong> {{ pessoa.cep || 'CEP não disponível' }}<br>
                        <strong>Número CTPS:</strong> {{ pessoa.numeroCtps || 'Número não disponível' }}<br>
                        <strong>Série CTPS:</strong> {{ pessoa.serieCtps || 'Série não disponível' }}<br>
                        <strong>Data Emissão CTPS:</strong> {{ pessoa.dataEmissaoCtps || 'Data não disponível' }}<br>
                        <strong>Número RG:</strong> {{ pessoa.numeroRg || 'Número não disponível' }}<br>
                        <strong>Data Emissão RG:</strong> {{ pessoa.dataEmissaoRg || 'Data não disponível' }}<br>
                        <strong>UF RG:</strong> {{ pessoa.ufRg || 'UF não disponível' }}<br>
                        <strong>CPF:</strong> {{ pessoa.cpf || 'CPF não disponível' }}<br>
                        <strong>PIS:</strong> {{ pessoa.pis || 'PIS não disponível' }}<br>
                        <strong>Data Emissão PIS:</strong> {{ pessoa.dataEmissaoPis || 'Data não disponível' }}<br>
                        <strong>Título Eleitor:</strong> {{ pessoa.tituloEleitor || 'Título não disponível' }}<br>
                        <strong>Local de Nascimento:</strong> {{ pessoa.localNascimento || 'Local não disponível' }}<br>
                        <strong>Mãe:</strong> {{ pessoa.mae || 'Mãe não disponível' }}<br>
                        <strong>Pai:</strong> {{ pessoa.pai || 'Pai não disponível' }}<br>
                        <strong>Estado Civil:</strong> {{ pessoa.estadoCivil || 'Estado Civil não disponível' }}<br>
                        <strong>Categoria CNH:</strong> {{ pessoa.categoriaCnh || 'Categoria não disponível' }}<br>
                        <strong>Número CNH:</strong> {{ pessoa.numeroCnh || 'Número não disponível' }}<br>
                        <strong>Registro CNH:</strong> {{ pessoa.registroCnh || 'Registro não disponível' }}<br>
                        <strong>Validade CNH:</strong> {{ pessoa.validadeCnh || 'Validade não disponível' }}<br>
                        <strong>Chave Pix:</strong> {{ pessoa.chavePix || 'Chave Pix não disponível' }}<br>
                    </p>
                    <a [routerLink]="['/pessoas', pessoa.id, 'editar']" class="btn btn-primary">
                        Editar
                    </a>
                </div>
            </div>
            }
            <!-- Exibição de erro -->
            @else if (errorMessage != null) {
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            }
        </div>

        <!-- Coluna para as Vagas -->
        <div class="col-md-6">
            @for(vaga of vagasPessoa(); track vaga.id) {
            <app-card-vaga [vaga]="vaga" (editarVaga)="editarVaga($event)"></app-card-vaga>
            }
            <button class="btn btn-primary" (click)="toggleRegistrarVaga()">Registrar Vaga</button>
        </div>

        <!-- Coluna para Botões de Impressão -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Imprimir</h5>
                    <button class="btn btn-success">Imprimir Vaga</button>
                    <button class="btn btn-danger mt-2">Imprimir Contrato</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Coluna para os Recursos Celulares -->
    <div class="row">
        <!-- Cada card ocupará 4 colunas em telas médias (col-md-4) para caber 3 cards na mesma linha -->
        <div class="col-md-4 mb-4">
            @for(recursoCelular of celularesList(); track recursoCelular.id) {
            <app-card-recurso-celular [recurso]="recursoCelular" (editarRecurso)="editarRecursoCelular($event)"
                (updated)="updateComponent()"></app-card-recurso-celular>
            }
            <button class="btn btn-primary" (click)="toggleRegistrarCelular()">Registrar Celular</button>
        </div>
        <div class="col-md-4 mb-4">
            @for(recursoCarro of carrosList(); track recursoCarro.id) {
            <app-card-recurso-carro [recurso]="recursoCarro" (editarRecurso)="editarRecursoCelular($event)"
                (updated)="updateComponent()"></app-card-recurso-carro>
            }
            <button class=" btn btn-primary" (click)="toggleRegistrarCarro()">Registrar Carro</button>
        </div>
    </div>

    <!-- Formulário de Registro de Vaga -->
    @if(showRegistrarVaga()) {
    <hr>
    <app-cadastro-vaga #vagaForm appScrollOnRender (updated)="handleUpdateAndClose()"
        [editVaga]="editVaga() ? editVaga() : null" (close)="handleOnlyClose()" (closeForm)="handleOnlyClose()"
        [pessoaId]="pessoaId()">
    </app-cadastro-vaga>
    }

    @if (showRegistrarRecursoCelular()) {
    <hr>
    <app-cadastro-recurso-celular #recursoCelularForm appScrollOnRender (closeForm)="handleOnlyClose()"
        (close)="handleOnlyClose()" (updated)="updateComponent()" [pessoaId]="pessoaId()"
        [editRecurso]="editRecursoCelular() ? editRecursoCelular() : null">
    </app-cadastro-recurso-celular>
    }
</div>